<template>
    <div class="controlbar">
        <div class="left-controls">
            <div class="control-element sorting" :class="{sortasc: ascending, sortdesc: descending}" @click="toggleSort">A - Z</div>
            <div class="filter-wrapper" :class="{'filter-open': filterOpened}">
                <div class="control-element filter" @click="openFilter">
                    Filter by Tags
                </div>
                <div v-if="filterOpened" class="filter-options">
                    <div class="filter-option" v-for="tag in allTags" :key="tag" :data-tag="tag">{{tag}}</div>
                </div>
            </div>
        </div>
        <div class="right-controls">
            <div class="control-element clear-done">Clear completed</div>
        </div>
    </div>
</template>



<script>
    export default {
        name: "Controlbar",
        data() {
            return {
                sort: "asc",
                filterOpened: true
            }
        },
        props: {
            allTags: {
                type: Array,
                required: true
            }
        },
        computed: {
            ascending() {
                return this.sort === 'asc';
            },
            descending() {
                return this.sort === 'desc';
            }
        },
        mounted() {
            console.log(this.allTags)
        },
        methods: {
            toggleSort() {
                if (this.sort === 'asc')
                    this.sort = 'desc';
                else if (this.sort === 'desc')
                    this.sort = 'asc'
            },
            openFilter() {
                this.filterOpened = !this.filterOpened;
            }
        }
    }
</script>

<style scoped>
    .controlbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 60px;
        border-radius: 50px;
        margin: 50px auto 0;
        padding: 15px 10px;
        border: 5px solid var(--lighter-gray);
        position: relative;
        z-index: 10;
    }

    .control-element,
    .filter-option {
        height: 100%;
        padding: 10px;
        background-color: var(--lighter-gray);
        border-radius: 30px;
        cursor: pointer;
        transition: background-color .3s ease;
        border: 1px solid transparent;
    }

    .filter-open .filter,
    .filter-open .filter-option {
        background-color: var(--mid-gray);
        color: white
    }

    .control-element:hover {
        background-color: var(--mid-gray);
        color: var(--white);
    }

    .filter-open .control-element:hover,
    .filter-option:hover {
        background-color: var(--almost-white);
        color: var(--black);
        border: 1px solid var(--black)
    }

    .left-controls {
        display: flex;
    }

    .left-controls .control-element {
        margin-right: 10px;
    }

    .sorting::after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 5px;
        margin-bottom: 2px;
    }

    .sortasc::after {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid currentColor;
    }

    .sortdesc::after {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid currentColor;
    }

    .filter-wrapper {
        position: relative;
    }

    .filter::after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 5px;
        margin-bottom: 2px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid currentColor;
    }

    .filter-options {
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
    }

    .filter-option {
        margin-bottom: 10px;
    }
</style>