<template>
    <div>
        <input class="js-darkmode-switch" type="checkbox" :checked="isDarkMode" @click="switchModes"/>
    </div>
</template>

<script>
    export default {
        name: "DarkModeSwitch",
        data() {
            return {
                checkbox: null,
                mode: '',
                isDarkMode: window.matchMedia('(prefers-color-scheme: dark)').matches
            }
        },
        created() {
            this.autoSwitchModes();
        },
        methods: {
            toDark() {
                document.documentElement.classList.add('darkmode');
                document.documentElement.classList.remove('lightmode');
                this.mode = 'darkmode';
            },
            toLight() {
                document.documentElement.classList.add('lightmode');
                document.documentElement.classList.remove('darkmode');
                this.mode ='lightmode';
            },
            switchModes() {
                this.checkbox = document.querySelector('.js-darkmode-switch');

                if (this.checkbox.checked === true) {
                    this.toDark();
                } else if (this.checkbox.checked === false) {
                    this.toLight();
                }
            },
            autoSwitchModes() {
                if (this.isDarkMode) {
                    this.toDark();
                } else {
                    this.toLight();
                }
            }
        }
    }
</script>

<style scoped>
    input,
    input:hover,
    input:focus,
    input:active,
    input:checked { outline: none; }

    input {
        appearance: none;
        border: var(--border-size) solid var(--black);
        background-color: var(--mid-gray);
        width: var(--switch-width);
        height: var(--switch-height);
        border-radius: var(--border-radius);
        position: relative;
        transition: all .5s;
    }

    input:after {
        content: "";
        display: block;
        width: var(--switch-knob-size);
        height: var(--switch-knob-size);
        border-radius: var(--border-radius);
        position: absolute;
        top: 50%;
        left: calc(var(--switch-knob-size) / 6);
        transform: translateY(-50%);
        transition: inherit;
    }

    input:hover { cursor: pointer; }

    input:checked:after {
        left: var(--switch-knob-size);
        background-color: var(--black);
    }

    input:not(:checked):after {
        left: calc(var(--switch-knob-size) / 6);
        background-color: var(--black);
    }
</style>