<template>
    <header>
        <div class="container">
            <img class="logo logo-lg" src="../assets/logo-wordmark.png">
            <img class="logo logo-sm" src="../assets/logo.png">
            <DarkModeSwitch></DarkModeSwitch>
        </div>
    </header>
</template>

<script>
    import DarkModeSwitch from "./DarkModeSwitch";

    export default {
        name: "Header",
        components: {
            DarkModeSwitch
        }
    }
</script>

<style scoped>
    header {
        height: 5rem;
        width: 100vw;
        margin-bottom: 2rem;
    }

    .logo {
        width: auto;
        height: 60px;
    }

    .logo.logo-sm {
        display: block;
    }

    .logo.logo-lg {
        display: none;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media only screen and (min-width: 1024px) {
        .logo.logo-sm {
            display: none;
        }

        .logo.logo-lg {
            display: block;
        }
    }
</style>