<template>
    <div>
        <input type="text" :placeholder="randomPlaceholder" v-model="newTodo" @keyup.enter="addTodo">
        <div class="notice-container">
            <p>Press enter to confirm. Enter tags with hashtags (#).</p>
            <p>{{ remaining }} left</p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "TextInput",
        data() {
            return {
                placeholders: [
                    "Do the dishes...",
                    "Pay the bills...",
                    "Deploy changes to website...",
                    "Make a todo list in vue...",
                    "Go for a walk...",
                    "Clean up the house...",
                    "Learn vuejs..."
                ],
                tags: [],
                randomPlaceholder: '',
                newTodo: '',
                idForNewTodo: 4,
            }
        },
        props: {
            numberOfOpenTasks: {
                type: Number,
                required: true
            }
        },
        computed: {
            remaining() {
                let singularPluralHandler = this.numberOfOpenTasks > 1 || this.numberOfOpenTasks === 0 ? ' items' : ' item';

                return this.numberOfOpenTasks + singularPluralHandler;
            }
        },
        methods: {
            pickTagsOfInput() {
                let words = this.newTodo.split(' ');
                let arrayOfTags = [];

                words.forEach(singleWord => {
                    if (singleWord.startsWith('#') && singleWord.length > 1) {
                        singleWord = singleWord.replace('#', '');
                        arrayOfTags.push(singleWord);
                    }
                });

                this.tags = arrayOfTags;
                arrayOfTags = [];
            },
            addTodo() {
                if (this.newTodo.trim().length === 0) {
                    return;
                }
                
                this.pickTagsOfInput();
                if (this.newTodo.indexOf('#') >= 0)
                    this.newTodo = this.newTodo.substring(0, this.newTodo.indexOf('#'));
                console.log(this.newTodo);

                this.$emit('addNewTodo', {
                    todo: {
                        id: this.idForNewTodo,
                        title: this.newTodo,
                        completed: false,
                        editing: false,
                        tags: this.tags,
                    }
                })

                this.tags = [];
                this.idForNewTodo++;
                this.newTodo = '';
            }
        },
        mounted() {
            this.randomPlaceholder = this.placeholders[Math.floor(Math.random() * this.placeholders.length)];
        }
    }
</script>

<style scoped>
    input {
        width: 100%;
        height: 50px;
        padding: 10px 20px;
        font-size: 1rem;
        background-color: var(--lighter-gray);
        transition: border .3s ease;
        color: var(--black);
        border-radius: 50px;
        border: 5px solid transparent;
    }

    input:focus {
        outline: none;
        border: 5px solid var(--light-gray);
    }

    p {
        color: var(--mid-gray);
        padding: 10px 20px 0 20px;
    }

    .notice-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    @media only screen and (min-width: 1024px) {
        .notice-container {
            flex-direction: row;
        }
    }
</style>