<template>
  <div class="container">
    <TextInput :numberOfOpenTasks="numberOfOpenTasks" @addNewTodo="addNewTodo"></TextInput>
    <Controlbar :allTags="allTags"/>
    <div class="todo-items">
      <TodoListItem v-for="(todo, index) in todos" :key="todo.id" :todo="todo" :index="index" @removedTodo="removeTodo" @finishedEdit="finishedEdit"></TodoListItem>
    </div>
  </div>
</template>

<script>
import { computed, onCreated } from "vue";
import { todos } from "@/dummy/todos"

export default {
  props: {
    msg: String
  },
  setup() {
    const numberOfOpenTasks = computed(() => {
      return this.todos.filter(todo => !todo.completed).length;
    });

    const allTags = computed(() => {
      let mappedTags = this.todos.map(todo => todo.tags);
      let flattenedArray = mappedTags.flat(1)
      let arrayWithOnlyUniqueTags = [...new Set(flattenedArray)];
      return arrayWithOnlyUniqueTags;
    });

    onCreated(() => {
      let tags = this.todos.filter(todo => todo.tags.indexOf("Alphabetically") >= 0);
      console.log(tags);
    })

    function removeTodo(index) {
      todos.splice(index, 1);
    }

    function finishedEdit(data) {
      todos.splice(data.index, 1, data.todo)
    }

    // @TODO update rest of code to vue3
    // @TODO add store
    // @TODO make firebase work

    function addNewTodo(data) {
      todos.push(data.todo)
    }

    return {
      todos: todos,
      allTags,
      numberOfOpenTasks,
      removeTodo,
      finishedEdit,
      addNewTodo
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .todo-items {
    display: flex;
    flex-direction: column;
  }
</style>
