<template>
    <div class="todo-item" :class="{done: completed, edited: edited}">
        <div class="todo-title">
            <input type="checkbox" :checked="completed" v-model="completed">
            <div class="todo-title-editable">
                <p class="todo-title-label" @dblclick="editTodo" v-if="!editing">{{ title }}</p>
                <input class="todo-title-input" type="text" @blur="doneEditing" @keyup.enter="doneEditing" @keyup.esc="cancelEditing"  v-model="title" v-focus v-else>
            </div>
        </div>
        <div class="todo-bottom">
            <div class="todo-tags">
                <span v-for="tag in tags" :key="tag" class="tag">
                    {{ tag }}
                </span>
            </div>
            <div class="revert-changes" @click="revertChanges">
                <span>Revert Changes</span>
            </div>
        </div>
        <button class="delete-todo" @click="removeTodo(index)">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 47.971 47.971" style="enable-background:new 0 0 47.971 47.971;" xml:space="preserve">
                <g><path d="M28.228,23.986L47.092,5.122c1.172-1.171,1.172-3.071,0-4.242c-1.172-1.172-3.07-1.172-4.242,0L23.986,19.744L5.121,0.88
                        c-1.172-1.172-3.07-1.172-4.242,0c-1.172,1.171-1.172,3.071,0,4.242l18.865,18.864L0.879,42.85c-1.172,1.171-1.172,3.071,0,4.242
                        C1.465,47.677,2.233,47.97,3,47.97s1.535-0.293,2.121-0.879l18.865-18.864L42.85,47.091c0.586,0.586,1.354,0.879,2.121,0.879
                        s1.535-0.293,2.121-0.879c1.172-1.171,1.172-3.071,0-4.242L28.228,23.986z"/></g>
            </svg>
        </button>
    </div>
</template>

<script>
    export default {
        name: "TodoListItem",
        data() {
            return {
                beforeEditCache: '',
                id: this.todo.id,
                title: this.todo.title,
                completed: this.todo.completed,
                editing: this.todo.editing,
                tags: this.todo.tags,
                edited: false
            }
        },
        directives: {
            focus: {
                inserted: function(el) {
                    el.focus();
                }
            }
        },
        props: {
            todo: {
                type: Object,
                required: true
            },
            index: {
                type: Number,
                required: true
            }
        },
        methods: {
            removeTodo(index) {
                this.$emit('removedTodo', index)
            },
            editTodo() {
                console.log('edit =>', this.title)
                this.beforeEditCache = this.title;
                this.editing = true;
                console.log('todo.editing =>', this.editing = true);
            },
            doneEditing() {
                if (this.title.trim() === '') {
                    this.title = this.beforeEditCache;
                }
                this.editing = false;
                this.edited = true;
                setTimeout(()=> {
                    this.edited = false;
                }, 30000);

                this.$emit('finishedEdit', {
                    index: this.index,
                    todo: {
                        id: this.id,
                        title: this.title,
                        completed: this.completed,
                        editing: this.editing,
                    }
                })
            },
            cancelEditing() {
                this.title = this.beforeEditCache;
                this.editing = false;
            },
            revertChanges() {
                this.title = this.beforeEditCache;
                this.edited = false;
            }
        }
    }
</script>

<style scoped>
    .todo-item {
        border-radius: 20px;
        background-color: var(--almost-white);
        padding: 10px;
        margin-top: 20px;
        border: 5px solid transparent;
        order: 1;
        position: relative;
        transition: border .3s ease;
    }

    .todo-item:hover {
        border: 5px solid var(--light-gray);
    }

    .todo-item.done {
        order: 10000;
        color: var(--mid-gray)
    }

    .todo-item.done p {
        text-decoration: line-through;
    }

    .todo-title {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    .todo-tags {
        display: flex;
        flex-wrap: wrap;
    }

    .tag {
        font-size: 14px;
        font-weight: 400;
        background-color: var(--light-gray);
        padding: 2px 5px;
        border-radius: 5px;
        margin-right: 10px;
        margin-top: 5px;
    }

    .todo-title-label {
        font-size: 1.25rem;
    }

    input[type="text"] {
        color: var(--black);
        border: none;
        font-size: 2rem;
        background-color: transparent;
        width: 100%;
        font-family: 'Lato', sans-serif;
        border-bottom: 1px solid var(--mid-gray);
    }

    input[type="text"]:focus {
        outline: none;
    }

    .todo-title-editable {
        width: 100%;
        padding-right: 60px;
    }

    input[type="checkbox"] {
        appearance: none;
        min-width: 30px;
        height: 30px;
        border: 3px solid var(--light-gray);
        border-radius: 30px;
        cursor: pointer;
        margin-right: 20px;
        stroke: #bbb;
    }

    input[type="checkbox"]:focus {
        outline: none;
    }

    input[type="checkbox"]:not(:checked):after {
        content:  url('../assets/check.svg');
        opacity: 0;
    }

    input[type="checkbox"]:checked:after {
        content: url('../assets/check.svg');
        opacity: 1;
    }

    .delete-todo {
        position: absolute;
        top: 15px;
        right: 15px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .delete-todo svg {
        width: 20px;
        fill: var(--black);
        height: 20px;
        transition: fill .2s ease-in-out;
    }

    .delete-todo:hover svg {
        fill: var(--red);
    }

    .todo-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .todo-item.edited .revert-changes {
        opacity: 1;
        pointer-events: all;
    }

    .revert-changes {
        font-size: 0.75rem;
        border: 1px solid var(--light-gray);
        padding: 3px 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color .3s ease, opacity .5s ease;
        opacity: 0;
        pointer-events: none;
    }

    .revert-changes:hover {
        background-color: var(--light-gray);
    }

    @media only screen and (min-width: 1024px) {
        .todo-item {
            padding: 20px;
            margin-top: 20px;
            border-radius: 30px;
        }

        .todo-title {
            margin-bottom: 20px;
        }

        .todo-title-label,
        .todo-title-editable {
            font-size: 2rem;
        }

        .delete-todo {
            top: 20px;
            right: 20px;
        }

        .delete-todo svg {
            width: 30px;
            height: 30px;
        }

        input[type="checkbox"] {
            min-width: 50px;
            height: 50px;
            border: 5px solid var(--light-gray);
            border-radius: 50px;
        }
    }
</style>