<template>
  <div id="app">
    <Header></Header>
    <TodoList/>
    <Loader v-if="state.loading"/>
  </div>
</template>

<script>
import { reactive, onMounted } from 'vue';

export default {
  name: 'App',
  setup() {
    const state = reactive({
      loading: true
    })

    onMounted(() => {
      state.loading = false;
    })

    return {
      state,
      onMounted
    }
  }
}
</script>

<style>
  /* Variables*/
  :root {
    /* Colors (change in darkmode) */
    --white: #fff;
    --black: #000;
    --mid-gray: rgb(127,127,127);
    --light-gray: rgb(200,200,200);
    --lighter-gray: rgb(225,225,225);
    --almost-white: rgb(247,247,247);
    --red: rgb(255,26,49);

    --magic-gradient: linear-gradient(180deg, #0066FF 0%, #FF00F5 100%, #FF00F5 100%);

    /* Darkmode Toggle */
    --border-radius: 10000px;
    --switch-knob-size: 25px; /* Just change this value, to change the size */
    --switch-height: calc((var(--switch-knob-size) / 3) * 5);
    --switch-width: calc((var(--switch-height) / 2) * 3);
    --border-size: calc(var(--switch-height) / 10);
  }

  /* darkmode */
  .darkmode {
    --white: #000;
    --black: #fff;
    --mid-gray: rgb(127,127,127);
    --light-gray: rgb(55,55,55);
    --lighter-gray: rgb(10,10,10);
    --almost-white: var(--lighter-gray);
    --red: rgb(255,26,49);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    color: var(--black);
    background-color: var(--white);
    overflow-x: hidden;
  }

  #app {
    background-color: var(--white);
    padding-bottom: 2rem;
    min-height: 100vh;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
  }

  .container {
    padding: 0 1rem;
    height: 100%;
    margin: 0 auto;
  }

  @media only screen and (min-width: 1024px) {
    .container {
      padding: 0 2rem;
      max-width: 1024px;
    }
  }
</style>
